sphinx >= 1.8
sphinx_fontawesome
sphinx_rtd_theme >= 0.4.2
sphinxcontrib_googleanalytics @ git+https://github.com/karrlab/sphinxcontrib-googleanalytics.git#egg=sphinxcontrib_googleanalytics-0.1.1
sphinxcontrib_spelling
sphinx-autoapi
